a, a:visited {
  color: dodgerblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#app {
  display: table;
  text-align: center;
  padding: 60px;
  color: black;
  background-color: white;
  opacity: 0.7;
  border-radius: 10px;
}

div.centered-text {
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bold;
  display: table-row;
  vertical-align: middle;
}

div.centered-links {
  font-family: sans-serif;
  font-size: 20px;
  display: table-row;
  vertical-align: middle;
}
