<!doctype html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145755611-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-145755611-1');
  </script>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('service-worker.js');
      });
    }
  </script>
  <meta charset="utf-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <meta name="description" content="Joao Carmo">
  <meta name="author" content="Joao Carmo">
</head>
  <body>
    <div id="blackout">
      <div id="main" class="loader"></div>
    </div>
    <noscript>
      {{> no-script}}
    </noscript>
  </body>
</html>
