<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  {{#if htmlWebpackPlugin.options.serviceWorker}}
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('{{htmlWebpackPlugin.options.serviceWorker}}');
        });
      }
    </script>
  {{/if}}
  {{#if htmlWebpackPlugin.options.appleTouchIcon}}
    <link rel="apple-touch-icon" href="{{htmlWebpackPlugin.options.appleTouchIcon}}">
  {{/if}}
</head>
  <body>
    <div id="blackout">
      <div id="main" class="loader"></div>
    </div>
    <noscript>
      {{> no-script}}
    </noscript>
  </body>
</html>
