<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <meta name="description" content="Joao Carmo">
  <meta name="author" content="Joao Carmo">
</head>
  <body>
    <div id="main"></div>
  </body>
</html>
