<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
  {{#if htmlWebpackPlugin.options.serviceWorker}}
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('{{htmlWebpackPlugin.options.serviceWorker}}');
        });
      }
    </script>
  {{/if}}
  {{#if htmlWebpackPlugin.options.appleTouchIcon}}
    <link rel="apple-touch-icon" href="{{htmlWebpackPlugin.options.appleTouchIcon}}">
  {{/if}}
</head>
  <body>
    <div id="blackout">
      <div id="main" class="loader"></div>
    </div>
    <noscript>
      {{> no-script}}
    </noscript>
  </body>
</html>
